#Configuration info
[ProjectInfo]
    Project = 20615

[OemCommonCapbility]
    FlashFightSupport = true

[FeatureCommon]
    ExifComment = oplus_
    SwitchSodTrack = false
    #              [camId][Pkg]           Flip      Orientation
    OrientationInfo[1][com.android.mms] = 1;        270;
    OplusSetNeonParamFlag = 1;
    #for pdaf AFAssistThd
    ForceDisableFaceDetect = true
    CameraMuteSkipFrameNum = 3

[PerformanceCommon]
    LimitSuperCpu =  1; 4
    NeedSkipFd = 0x8001; 0x8009; 0x8011; 0x800B # 0xF0FF(CapModeMask) To Force Enable
    OsenseSkipByCallerPackageNames = com.google.android.youtube

    BoostCaptureTimeoutValue = 5000

[TuningCommon]
    #AwbSkipFrame[m_u4SensorMode][m_eSensorDev] = SkipFrames
    AwbSkipFrame[3][1] = 3
    #ParamNvramIdx use MainSecond AwbParam
    MainSecondAwbParamNvramIdx = 6; 7; 8; 9
    #select project for af
    SwitchAfRegion = true
    a_eNVRAMIndex = 7
    SwitchCipAwb = false

[FeatureHstrailCustomization]
    #            CUSTOM_CFG_CSI_PORT    scenario_id(-1 means all scenarioes)    hs_trail
    Mode[0] =            2;                    -1;                                 22    # CUSTOM_CFG_CSI_PORT_2

[FeatureOplusSuperEis]
    Switch = false
    Qcount = 30

[FeatureAiVideoEnhance]
    SwitchOplusVhdr = true

[FeatureHfpsSupport]
    # Mode    OperationMode     openId      SwitchOplusHfps
    Mode[0] =    0x8028;           2;               0
    Mode[1] =    -1;              -1;               1

[FeatureVideoNight]
    Switch = true

[FeatureStereoCalibrateDACSupport]
    Switch = true

[TuningAeSceneMode]
    #                on(1)/off(0)    camId(-1 represents all sensors)
    Switch3rd[0]  =  1;              -1
    #           CapMode    SceneMode    camId(-1 represents all sensors)
    Mode[0] =   0x8009;     PARTY;      -1
    Mode[1] =   0x8007;     SPORTS;     -1
    Mode[2] =   0x80A3;     SPORTS;     -1
    Mode[3] =   0x80A4;     SPORTS;     -1
    Mode[4] =   0x802C;     SPORTS;     -1
    Mode[5] =   0x80A5;     SUNSET;     -1
    Mode[6] =   0x8019;     NORMAL;     0
    Mode[7] =   0x8019;     SUNSET;     1
    Mode[8] =   0x8019;     SUNSET;     2
    Mode[9] =   0x0;        THEATRE;    -1

[TuningUseCustomHDR10]
    #           CapMode
    Mode[0] =   0x80A7  #StreamConfigCapModeVideoNight
    Mode[1] =   0x8028  #StreamConfigCapModeVideoSuperEis
    Mode[2] =   0x8009  #StreamConfigCapModeProfessional

[TuningSupernightMode] # Don't use flash_ae_params, use default flash_ae_params 160000; 140000; 120000; 110000; 80000; 80000; 32; 32; 32; 25; 20; 10;
    #           sensorId    handheld_ae_params[12]                                                          face_ae_params[12]                                                              flash_ae_params[12]                                                              tripod_ae_params[2]
    Mode[0]  =  0x0683;     100000; 80000;  70000;  60000;  50000;  40000;  250; 250; 250; 250; 250; 250;   100000; 80000;  70000;  60000;  50000;  40000;  250; 250; 250; 250; 250; 250;   100000; 80000;  70000;  60000;  50000;  40000;  250; 250; 250; 250; 250; 250;    5000000; 16 # IMX682_SENSOR_ID
    Mode[1]  =  0x20001;    200000; 160000; 140000; 120000; 120000; 100000; 250; 250; 250; 250; 250; 250;   200000; 160000; 140000; 120000; 120000; 100000; 250; 250; 250; 250; 250; 250;   200000; 160000; 140000; 120000; 120000; 100000; 250; 250; 250; 250; 250; 250;    5000000; 16 # IMX471_SENSOR_ID
    Mode[2]  =  0x0848;     140000; 120000; 120000; 120000; 120000; 100000; 250; 250; 250; 250; 250; 250;   140000; 120000; 120000; 120000; 120000; 100000; 250; 250; 250; 250; 250; 250;   140000; 120000; 120000; 120000; 120000; 100000; 250; 250; 250; 250; 250; 250;    5000000; 16 # HI846_SENSOR_ID

[FeatureNightModeAssitManualRatio] # assit manual_ratio by cameraid
    manualAEForNonTriop = 0;1;2

[PerformanceFpsGoDecoupleSwitch]
    EnableFpsGoDecoupleSwitch = true

[FpsGoGroupSetting]
    #                  index
    Mode[0] =  0;  0x02020000;   1;        0x02040100;  5;        0x02004100;   1;    -1;        -1; -1;        -1; -1;        -1   # 1,5
    Mode[1] =  1;  0x02020000;   15;       0x02040100;  6;        0x02004100;   1;    -1;        -1; -1;        -1; -1;        -1   # 1,6
    Mode[2] =  2;  0x02004100;   1;        0x02020000;  7;        -1;           -1;   -1;        -1; -1;        -1; -1;        -1   # 1,3
    Mode[3] =  3;  0x00404000;   1287000;  0x00404100;  1048000;  0x03008200;   83;  0x02004100;  1; -1;        -1; -1;        -1   # 1,10
    Mode[4] =  4;  0x00404000;   1287000;  0x00404100;  1048000;  0x03008200;   90;  0x02004100;  1; 0x02020000; 1; 0x02040100; 30  # 1,11
    Mode[5] =  5;  0x00404000;   1287000;  0x00404100;  1048000;  0x03008200;   83;  0x02004100;  0; -1;        -1; -1;        -1   # 1,12
    Mode[6] =  6;  0x02004100;   1;        0x02020000;  1;        0x02040100;   30;   -1;        -1; -1;        -1; -1;        -1   # 1,13
    Mode[7] =  7;  0x0040c200;   2600000;  -1;          -1;       -1;           -1;   -1;        -1; -1;        -1; -1;        -1   # 1,4
    Mode[8] =  8;  0x0040c000;   1271000;  0x0040c100;  703000;   0x03008200;   90;   -1;        -1; -1;        -1; -1;        -1   # 1,10
    Mode[9] =  9;  0x00400000;   2000000;  0x00400100;  2200000;  0x00400200;   2284000;   -1;   -1; -1;        -1; -1;        -1   # mobileqq mm
    Mode[10]= 10;  0x00400000;   2000000;  0x00400100;  2600000;  0x00400200;   2600000;   -1;   -1; -1;        -1; -1;        -1   # system camera
    Mode[11]= 11;  0x00414000;   1;        -1;          -1;       -1;           -1;   -1;        -1; -1;        -1; -1;        -1   # PERF_MODE
    Mode[12]= 12;  0x02020000;   1;        0x02040100;  5; 0x02004100; 0; 0x00404000; 1260000; 0x00404100; 1040000; -1;        -1   # StreamConfigCapModeCommonVideo
    Mode[13]= 13;  0x02020000;   1;        0x02040100;  30;       0x00404000;   675000;    -1;   -1; -1;        -1; -1;        -1   # StreamConfigCapModeCommon rear camera

[FpsGoEnterCameraSetting]
    #                                     FpsGoGroup
    com.tencent.mobileqq[0]            =     8
    com.tencent.mm[0]                  =     8
    systemCamera[0]                    =     9
    default[0]                         =     10

[FpsGoCustomFpsSetting]
    #Mode            remove_mode   fps      systemcamera   ceiling    loadAdjCnt
    Mode[0]      =     0x8028;     30;          1;            1;            5

[FpsGoNeonVideoSetting]
    #Mode            makeupState   ceiling    loadAdjCnt   FpsGoGroup
    Mode[0]      =       1;          1;        6;          -1
    Mode[1]      =       3;          1;        6;          -1

[FpsGoSysCameraSetting]
    #operation mode       operation_mode    fps    ceiling    loadAdjCnt  FpsGoGroup  openId
    Mode[0]         =     0x8028;           -1;       1;         3;        -1;        -1  #StreamConfigCapModeVideoSuperEis
    Mode[1]         =     0x8001;           -1;      -1;        30;        13;        -1  #StreamConfigCapModeCommon
    Mode[2]         =     0x800b;           -1;       1;        10;         8;         1  #StreamConfigCapModeVideo
    Mode[3]         =     0x800b;           -1;       1;        10;        12;         0  #StreamConfigCapModeVideo

[FpsGoSpecialAppSetting]
    #                                       ceiling   loadAdjCnt  FpsGoGroup camera id    width    height
    com.snapchat.android[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.android.incallui[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.zhiliaoapp.musically[0]        =      1;         10;         -1;        -1;        -1;      -1
    com.facebook.katana[0]             =      1;         10;         -1;        -1;        -1;      -1
    com.whatsapp[0]                    =      1;         10;         -1;        -1;        -1;      -1
    com.instagram.android[0]           =      1;         10;         -1;        -1;        -1;      -1
    com.google.android.youtube[0]      =      1;         10;         -1;        -1;        -1;      -1
    com.eg.android.AlipayGphone[0]     =      1;         10;         -1;        -1;        1280;    -1
    com.smile.gifmaker[0]              =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mobileqq[0]            =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.ig[0]                  =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mm[0]                  =      1;         10;         -1;        -1;        1280;    -1

[FpsGoSpecialActivityApp]
    #                                                                       ceiling   loadAdjCnt FpsGoGroup camera id    width    height
    com.tencent.mm.plugin.scanner.ui.BaseScanUI[0]                      =      1;         11;        -1;       -1;       -1;      -1
    com.tencent.aelight.camera.aebase.QIMCameraCaptureActivity[0]       =      1;         12;        -1;       -1;       -1;      -1
    com.tencent.mm.plugin.voip.ui.VideoActivity[0]                      =      1;         13;        -1;       -1;       -1;      -1

[EnabledsdnHint]
    #operation mode       operation_mode    openId
    Mode[0]         =     0x8021;           -1

[SuperNightCaptureNoPreview]
    #operation mode     operation_mode     SENSOR_ID
    Mode[0]         =     0x8019;            0x0615

[FeatureConfigPeriod]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               33     #default value
    Mode[1]         =     0x8001;           100     #StreamConfigCapModeCommon rear camera
    Mode[2]         =     0x800B;           100     #StreamConfigVideoCommon rear camera

[FeatureVideoFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               1000   #default value
    Mode[1]         =     0x8028;           100

[FeatureVsdofFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               66     #default value

[FeatureCloseColorSensorInfo]
    #           SensorDev
    SensorDev[0] =   0x02  #front camera
    SensorDev[1] =   0x08  #macro camera

[AIAWBfpsConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     0x8028;           5   #StreamConfigCapModeVideoSuperEis

[AI3AForceOffConfig]
    #operation mode     operation_mode     is3rdCam
    Mode[0]         =     0x802C;           1   #StreamConfigCapModePIPScene

[AppMapFastLaunchRequestNum]
    vendor.client.pid[1]    = 4
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 4
    client.pid              = 4

[OperationModeMapFastLaunchRequestNum]
    #operation mode       operation_mode    RequestNum
    Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional
    Mode[1]         =     0x80a4;           0               #StreamConfigCapModeFilmVideoEis
    Mode[2]         =     0x80a3;           0               #StreamConfigCapModeFilmVideo

[ChangeFpsRangeWhenMakeup]
    #operation mode       operation_mode    fpsMin      fpsMax
    Mode[0]         =     0x8001;           -1;          26   #StreamConfigCapModeCommon
    Mode[1]         =     0x8019;           -1;          26   #StreamConfigCapModeSuperNight
    Mode[2]         =     0x8026;           -1;          26   #StreamConfigCapModeFrontPortait

[ChangeFpsRangeByName]
    # key  CallerPackageName or ActivityName    openId       fpsMin       fpsMax
    com.whatsapp.voipcalling.VoipActivityV2  =  1;           5;          24

[OsenseOperationModeMap]
    #[openid][operationmode] osense action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x8001]    =    OSENSE_ACTION_CAMERA_FPSGO_OFF_TEMP_6889
    Mode[-1][0x800b]    =    OSENSE_ACTION_CAMERA_FPSGO_OFF_TEMP_6889

[OsenseWechatVideoCallConfig]
    packageName = com.tencent.mm
    #[openid][SMALL_WINDOW:1,FULL_WINDOW:0] osense action
    #!!!Attention:forbid end-line comments!!!
    Mode[-1][0] = OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsenseActivityNameConfigMap]
    # key  pkgName                                                        osense action <=1280                 osense action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     OSENSE_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  OSENSE_ACTION_3RD_CAM_VIDEO_CALL;     OSENSE_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsenseCallerPackageNameNameConfigMap]
    # key  pkgName                                      osense action <=1280                osense action >1280
    com.google.android.youtube                       =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsensePackageNameConfigMap]
    # key  pkgName                      osense action <=1280                osense action >1280
    com.ss.android.ugc.aweme    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mm              =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF

[DisEnabledFSC]
    packageName[0]=com.google.android.youtube
    packageName[1]=com.oplus.camera

[EepromDataStyle]
    RStyle = true
    defaultModule = false
    TStyle = true

[ModuleShowInfoMap]
    #                    sensorID        sensorName     sensorVersion
    sensorIdx[0]  =      0x5664;         OV64B;         0.91
    sensorIdx[1]  =      0x0615;         IMX615;        0.91
    sensorIdx[2]  =      0x0355;         IMX355;        0.91
    sensorIdx[3]  =      0x002B;         OV02B10;       0.91
    sensorIdx[4]  =      0x02e0;         GCO2M1B;       0.91

[None4CellNormalVideo]
    WatermarkCamId = 0x0848

[SystemCamSensorSettingMap]
    # key      CapMode    thirdAppCall      camId       yuvSizeW     imgSizeW      video       imageRation      scenarioId
    Mode[0]  = 0x8021;         -1;          -1;           -1;           -1;         -1;             -1;               6    # CapMode60FpsVideo
    Mode[1]  = 0x8028;         -1;           0;           -1;           -1;         -1;             -1;               6    # CapModeVideoSuperEis
    Mode[2]  = 0x8028;         -1;           2;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEis
    Mode[3]  = 0x8028;         -1;          -1;           -1;           -1;         -1;             -1;               9    # CapModeVideoSuperEis
    Mode[4]  = 0x80A7;         -1;           0;           -1;           -1;         -1;             -1;               6    # CapModeVideoNight
    Mode[5]  = 0x80A7;         -1;           1;           -1;           -1;         -1;             -1;               4    # CapModeVideoNight
    Mode[6]  = 0x800B;          1;           1;         1280;           -1;         -1;             -1;               6    # CapModeCommonVideo
    Mode[7]  = 0x800B;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[8]  = 0x800C;          1;           1;         1280;           -1;         -1;             -1;               6    # CapModeFastVideo
    Mode[9]  = 0x800C;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFastVideo
    Mode[10] = 0x8012;          1;           1;         1280;           -1;         -1;             -1;               6    # CapModeVideoPortait
    Mode[11] = 0x8012;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeVideoPortait
    Mode[12] = 0x80A3;          1;           1;         1280;           -1;         -1;             -1;               6    # CapModeFilmVideo
    Mode[13] = 0x80A3;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFilmVideo
    Mode[14] = 0x80A4;          1;           1;         1280;           -1;         -1;             -1;               6    # CapModeFilmVideoEis
    Mode[15] = 0x80A4;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFilmVideoEis
    Mode[16] = 0x802B;         -1;           1;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEisFront
    Mode[17] = -1;             -1;           0;           -1;         3840;         -1;             -1;               2    # others
    Mode[18] = -1;             -1;          -1;           -1;         3840;         -1;             -1;               4    # others
    Mode[19] = -1;             -1;          -1;           -1;           -1;          1;             -1;               2    # others

[ThirdCamSensorSettingMap]
    # key     pkgName                                        camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize      imgSize     scenarioId
    com.whatsapp[0]                             =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.whatsapp[1]                             =            -1;           1;          -1;           -1;            -1;            -1;            -1;           4    #
    com.whatsapp[2]                             =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.tencent.mobileqq[0]                     =             0;          -1;          -1;          570;          1280;            -1;            -1;           0    #
    com.android.cts.verifier[0]                 =             0;          -1;          -1;           -1;            -1;            -1;            -1;           1    #
    com.android.cts.verifier[1]                 =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    android.camera.cts[0]                       =             0;          -1;          -1;           -1;            -1;            -1;            -1;           1    #
    android.camera.cts[1]                       =             1;          -1;          -1;           -1;            -1;          1280;            -1;           0    #
    android.camera.cts[2]                       =             1;          -1;          -1;          570;            -1;            -1;            -1;           0    #
    autotest.oppo.com.simulatedlivebroadcast[0] =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    ru.yandex.searchplugin[0]                   =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.smile.gifmaker[0]                       =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.tencent.mm[0]                           =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.tencent.mm[1]                           =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.android.mms[0]                          =             1;          -1;          -1;           -1;            -1;          1280;            -1;           0    #
    jp.naver.line.android[0]                    =             1;          -1;          -1;           -1;            -1;          1280;            -1;           2    #
    com.snapchat.android[0]                     =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.snapchat.android[1]                     =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.facebook.katana[0]                      =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.facebook.katana[1]                      =             1;          -1;          -1;           -1;            -1;          1280;            -1;           0    #
    com.instagram.android[0]                    =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.instagram.android[1]                    =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.facebook.orca[0]                        =             0;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.facebook.orca[1]                        =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    com.ss.android.ugc.aweme[0]                 =             1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #
    AllCamApp[0]                                =             0;          -1;           1;           -1;            -1;            -1;            -1;           2    #
    AllCamApp[1]                                =             0;          -1;          -1;          570;            -1;            -1;            -1;           1    #
    AllCamApp[2]                                =             0;          -1;          -1;           -1;            -1;            -1;            -1;           2    #
    AllCamApp[3]                                =             1;          -1;          -1;           -1;            -1;          1280;            -1;           0    #
    AllCamApp[4]                                =             1;          -1;          -1;          570;            -1;            -1;            -1;           0    #
    AllCamApp[5]                                =             1;          -1;          -1;           -1;            -1;            -1;            -1;           2    #
    AllCamApp[6]                                =            -1;          -1;          -1;           -1;            -1;            -1;            -1;           0    #

[CommonSensorSettingMap]
    # key     CapMode       camId     scenarioId
    Mode[0] = 0x802A;          0;          4    #

[FeatureEISTypeMap]
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS
    Mode[0] =           0x800B;            0;         0;             1;          0      #normal video rear
    Mode[1] =           0x800B;            1;         0;             0;          0      #normal video front
    Mode[2] =           0x800B;            0;         1;             0;          0      #4k video
    Mode[3] =           0x8021;            0;         0;             0;          0      #60fps video
    Mode[4] =           0x8028;            0;         0;             1;          0      #super eis
    Mode[5] =           0x802B;            1;         0;             1;          0      #super eis front
    Mode[6] =           0x80A4;            0;         0;             1;          0      #film video eis
    Mode[7] =           0x80A4;            2;         0;             1;          0      #film wide video eis
    Mode[8] =           0x80A7;            0;         0;             1;          0      #videonight rear
    Mode[9] =           0x80A7;            1;         2;             1;          0      #videonight front + eis
    Mode[10] =          0x802C;            0;         3;             1;          0      #PIP video rear master
    Mode[11] =          0x8028;            2;         0;             1;          0      #super wide eis

[FeatureEISDebug]
    supportMTKEIS = true
    supportTPEIS = true
    forceEis60FPS = false
    supportEISModeLossless = false

[FeatureDSDNConfig]
    operationMode = 0x8001;0x800B;0x8021;0x80A7;0x800E;0x8007;0x802C;0x80A3;0x80A4;0x800C;0x8019;0x8009;0x80A5;0x8028
    DSDNenable = 1

[FeatureSMVRConfig]
    isNeedDropFrame = 0
    dropNum = 6
    isNeedSetProfile = false

[FeatureFaceBeautyConfig]
    BeautyShotDelay = 500

[FeatureAiShutterConfig]
    AisEnable          =             1
    #[openid][operationmode]    aishutter_enable
    Mode[0][0x8001]    =             1                  #REAR_StreamConfigCapModeCommon
    Mode[0][0x8004]    =             1                  #REAR_StreamConfigCapModeBeauty
    Mode[0][0x8005]    =             1                  #REAR_StreamConfigCapModeFilter
    Mode[0][0x8008]    =             1                  #REAR_StreamConfigCapModeSuperZoom
    Mode[1][0x8001]    =             0                  #FRONT_StreamConfigCapModeCommon
    Mode[1][0x8004]    =             0                  #FRONT_StreamConfigCapModeBeauty
    Mode[1][0x8005]    =             0                  #FRONT_StreamConfigCapModeFilter
    Mode[1][0x8008]    =             0                  #FRONT_StreamConfigCapModeSuperZoom

[FeatureSystemCamRrzoConfig]
    #[isCalled][openId][operationMode][custom_tag]        width     height
    Mode[1][0][0x800B][1] =                               1280;     720;
    Mode[1][1][0x800B][1] =                               1280;     720;
    Mode[0][0][0x800B][1] =                               1280;     720;
    Mode[0][0][0x800B][2] =                               1920;     1088;
    Mode[0][0][0x800B][3] =                               3840;     2160;
    Mode[0][1][0x800B][1] =                               1280;     720;
    Mode[0][1][0x800B][2] =                               1920;     1088;
    Mode[0][1][0x800B][3] =                               4096;     2160;
    Mode[0][0][0x80A7][1] =                               1600;     900;
    Mode[0][1][0x80A7][1] =                               1600;     900;
    Mode[0][0][0x80A7][2] =                               2400;     1350;
    Mode[0][1][0x80A7][2] =                               2400;     1350;
    Mode[0][1][0x802B][1] =                               1600;     900;
    Mode[0][1][0x802B][2] =                               2400;     1350;
    Mode[0][0][0x8028][2] =                               2100;     1184;
    Mode[0][2][0x8028][2] =                               2714;     1528;
    Mode[0][0][0x8007][7] =                               4224;     2304;
    Mode[0][0][0x8001][4] =                               1456;     1104;
    Mode[0][0][0x8001][5] =                               1920;     1440;
    Mode[0][0][0x8001][6] =                               1456;     1104;
    Mode[0][0][0x8001][7] =                               2416;     1808;
    Mode[0][1][0x8001][4] =                               1456;     1104;
    Mode[0][1][0x8001][5] =                               1920;     1440;
    Mode[0][1][0x8001][6] =                               1456;     1104;
    Mode[0][1][0x8001][7] =                               2144;     1600;
    Mode[0][2][0x8001][4] =                               1456;     1104;
    Mode[0][2][0x8001][5] =                               1920;     1440;
    Mode[0][2][0x8001][6] =                               3264;     2448;
    Mode[0][2][0x8001][7] =                               3264;     2448;
    Mode[0][1][0x8019][4] =                               1456;     1104;
    Mode[0][1][0x8019][5] =                               1920;     1440;
    Mode[0][1][0x8019][6] =                               1456;     1104;
    Mode[0][1][0x8019][7] =                               2144;     1600;
    Mode[0][0][0x8019][4] =                               1456;     1104;
    Mode[0][0][0x8019][5] =                               1920;     1440;
    Mode[0][0][0x8019][6] =                               1456;     1104;
    Mode[0][0][0x8019][7] =                               1920;     1440;
    Mode[0][2][0x8019][4] =                               1456;     1104;
    Mode[0][2][0x8019][5] =                               1920;     1440;
    Mode[0][2][0x8019][6] =                               1456;     1104;
    Mode[0][2][0x8019][7] =                               2416;     1808;
    Mode[0][0][0x8009][4] =                               1456;     1104;
    Mode[0][2][0x8009][4] =                               1456;     1104;
    Mode[0][3][0x80A6][4] =                               1600;     1200;
    Mode[0][0][0x80A4][2] =                               2432;     1360;
    Mode[0][2][0x80A4][2] =                               2416;     1360;
    Mode[0][0][0x0][2]    =                               1936;     1104;
    Mode[0][0][0x0][1]    =                               1280;     720;
    Mode[0][0][0x800C][2] =                               1936;     1104;
    Mode[0][0][0x802C][0] =                               1456;     1104;
    Mode[0][0][0x802C][4] =                               1712;     1296;
    Mode[0][0][0x802C][5] =                               1920;     1440;
    Mode[0][1][0x802C][0] =                               1456;     1104;
    Mode[0][1][0x802C][4] =                               1712;     1296;
    Mode[0][1][0x802C][5] =                               1920;     1440;
    Mode[0][0][0x8002][4] =                               1456;     1104;
    Mode[0][0][0x8021][3] =                               3840;     2160;
    Mode[0][0][0x8021][2] =                               1936;     1104;
    Mode[0][0][0x8021][1] =                               1280;     720;
    Mode[0][2][0x800B][2] =                               1920;     1088;
    Mode[0][2][0x800B][1] =                               1280;     736;
    Mode[0][1][0x8011][4] =                               1456;     1104;
    Mode[0][1][0x0][2]    =                               1920;     1440;
    Mode[0][1][0x800C][2] =                               1936;     1104;
    Mode[0][1][0x8007][4] =                               2304;     1728;
    Mode[0][1][0x8002][4] =                               1456;     1104;

[FeatureThirdPartyCamRrzoConfig]
    #key pkgName[openId]                              width     height   base_resolution    comment(1:not_less_than, 2:upscale, 3:not_larger_than)
    com.ss.android.ugc.aweme[0]      =                1632;     1224;     1280;                   2;
    com.ss.android.ugc.aweme[1]      =                1632;     1224;     1280;                   2;
    com.tencent.mm[0]                =                1632;     1224;     1280;                   2;
    com.tencent.mm[1]                =                1632;     1224;     1280;                   2;
    com.tencent.ig[0]                =                1632;     1224;     1280;                   2;
    com.tencent.ig[1]                =                1632;     1224;     1280;                   2;
    com.tencent.mobileqq[0]          =                1632;     1224;     1280;                   2;
    com.tencent.mobileqq[1]          =                1632;     1224;     1280;                   2;
    com.whatsapp[0]                  =                1920;     1080;        0;                   3;
    com.whatsapp[1]                  =                1920;     1080;        0;                   3;
    vendor.client.pid[1]             =                2304;     1728;     1280;                   2;

[systemCamMappingEAppCustom]
    #key                                EAppCustom
    fastVideo                     =     0;
    commonVideo                   =     11;
    panorama                      =     10;
    superNight                    =     -1;
    TimeLapse                     =     16;
    professional                  =     7;
    portrait                      =     -1;
    ai_shutter                    =     33;
    default                       =     -1;
    common                        =     -1;
    VideoHDR                      =     32;
    VideoSuperEis                 =     35;
    PIPScene                      =     34;

[noSuperNightMappingWithSensorId]
    #key                                EAppCustom    sensorId    isCheckFaceBeauty
    no_supernight[0]              =     18;            0x0683;      0; # IMX682_SENSOR_ID
    no_supernight[1]              =     18;            0x0847;      0; # HI846_SENSOR_ID
    no_supernight[2]              =     18;            0x20001;     0; # IMX471_SENSOR_ID

[thirdPartyCamMappingEAppCustom]
    #key                                EAppCustom
    EApp_MTKCam                   =     0;
    android                       =     25;
    0                             =     21;
    com.tencent.mobileqq          =     3;
    com.tencent.mm                =     4;
    jp.naver.line.android         =     2;
    raxes.starlocator             =     2;
    com.android.cts.verifier      =     30;

[AsdSceneTuningEnable]
    AsdAssistTuningFlag = true

[capModePIPSceneSpecialSize]
    #key                                width   height
    size[0]                       =     960;    1080;
    size[1]                       =     640;    720;
    size[2]                       =     480;    272;
    size[3]                       =     368;    368;
    size[4]                       =     320;    184;
    size[5]                       =     240;    240;
    size[6]                       =     640;    368;
    size[7]                       =     464;    464;
    size[8]                       =     432;    240;
    size[9]                       =     320;    320;

[oplusCheckStreamFrontCam]
    #key                                openId     width    height
    config[0]                     =     1;         2304;    1728;
    config[1]                     =     9;         2304;    1728;

[camIdxMapType]
    # 0x01,   "AT+CAMERA_OPEN"                    -- rear (main)
    # 0x02,   "AT+CAMERA_FRONT_OPEN"              -- front
    # 0x04,   "AT+CAMERA_F2_OPEN"                 -- front second
    # 0x08,   "AT+CAMERA_BACK_AUX_OPEN"           -- rear second (wide)
    # 0x10,   "AT+CAMERA_BACK_MONO1_OPEN"         -- rear third (mono1)
    # 0x20,   "AT+CAMERA_BACK_MONO2_OPEN"         -- rear fourth (mono2)
    # 0x40,   "AT+CAMERA_BACK_MACRO_OPEN"         -- rear macro
    # 0x80,   "AT+CAMERA_BACK_TELE_OPEN"          -- rear third (tele)

    #[srcIdx]                           camIdx    dstIdx
    index[0]                     =     1;        0;
    index[1]                     =     0x01;     0x01;           #SENSOR_DEV_MAIN-main
    index[2]                     =     0x02;     0x02;           #SENSOR_DEV_SUB-front
    index[3]                     =     0x08;     0x04;           #SENSOR_DEV_MAIN_2-wide
    index[4]                     =     0x10;     0x10;           #SENSOR_DEV_MAIN_3-mono1
    index[5]                     =     0x40;     0x08;           #SENSOR_DEV_SUB_2-BackMacro

[subSensorName]
    #key                               substring
    subSensorList[0]              =    HI846;
    subSensorList[1]              =    IMX682;
    subSensorList[2]              =    bayerwide;
    subSensorList[3]              =    tricam;

[sensorDataMap2AConfig]
    #key             sensorId    af-flag  inf    100cm   50cm   mac    skip-4000k  H-U    H-G    M-U    M-G    L-U    L-G     startAddr  dataLength
    index[0]    =    0x0683;     1;       0x94;  0x98;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0;         0;
    index[1]    =    0x20001;    0;       0x94;  0x94;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0;         0;
    index[2]    =    0x0848;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0x0CA0;    3441;
    index[3]    =    0x0032;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x0E;  0x16;  0x24;  0x2C;  0x3A;  0x42;   0;         0;

[FeatureMsnrConfig]                                  value
    com.gorgeous.lite                            =     1;
    autotest.oppo.com.simulatedlivebroadcast     =     1;
    com.mt.mtxx.mtxx                             =     1;
    com.facebook.katana                          =     1;
    com.tencent.mm                               =     1;
    com.facebook.orca                            =     1;
    com.instagram.android                        =     1;
    com.whatsapp                                 =     1;
    com.alibaba.android.rimet                    =     1;

[GetRealTimeYUVHistEnable]
    RealTimeYUVHistFlag = true
    RealTimeYUVHistLiteFlag = true

[FeatureMfnrConfig]                                  value
    com.gorgeous.lite                            =     1;
    com.mt.mtxx.mtxx                             =     1;
    com.facebook.katana                          =     1;
    com.facebook.orca                            =     1;
    com.instagram.android                        =     1;
    com.whatsapp                                 =     1;
    com.alibaba.android.rimet                    =     1;
    com.linecorp.b612.android                    =     1;
    com.commsource.beautyplus                    =     1;
    com.zhiliaoapp.musically                     =     1;
    com.snapchat.android                         =     1;
    com.intsig.camscanner                        =     1;
    com.itc.wts88051_autotest                    =     1;
    vStudio.Android.Camera360                    =     1;
    com.cyberlink.youperfect                     =     1;
    com.benqu.wuta                               =     1;
    com.meitu.meiyancamera                       =     1;
    com.xhey.xcamera                             =     1;
    com.cyberlink.youperfect                     =     1;
    com.lemon.faceu                              =     1;
    com.campmobile.snowcamera                    =     1;
    com.kuaiduizuoye.scan                        =     1;
    com.youdao.dict                              =     1;
    com.kwai.m2u                                 =     1;
    com.dw.btime                                 =     1;
    com.smile.gifmaker                           =     1;

[NeonPortraitParam]
    #key             sensorDev   bv   BokehStrength  Saturation   SpotSize   lightFactor   smoothAmount
    index[0]    =    -1;         30;      80;            70;         80;        100;           1200;
    index[1]    =    -1;        -50;      80;            70;         80;        100;           1200;
    index[2]    =    0x01;       30;      80;            40;         80;        100;           1200;
    index[3]    =    0x01;      -50;      80;            70;         80;        100;           1200;
    index[4]    =    0x02;       30;      75;            65;         80;        100;           1200;
    index[5]    =    0x02;      -50;      75;            65;         80;        100;           1200;


[CustomCfgSetting]
    #              CAM_INDX   CLK      PROT     DIR     BITORDER    ORIENTION  H_FOV  V_FOV  SECURE
    #index[0]        MAIN    MCLK2     PROT2    REAR     9_2          90        67     49       0
    #index[1]        SUB     MCLK1     PROT0    FORNT    9_2          270       63     40       1
    #index[2]        MAIN2   MCLK3     PROT1    REAR     9_2          90        75     60       0
    #index[3]        SUB2    MCLK5     PROT3    REAR     9_2          90        75     60       0
    #index[4]        MAIN3   MCLK4     PROT1B   REAR     9_2          90        67     49       0
    #
    index[0]    =       0;      1;       2;      0;       0;         90;       67;     49;     0;
    index[1]    =       1;      0;       0;      1;       0;         270;      63;     40;     1;
    index[2]    =       2;      2;       1;      0;       0;         90;       75;     60;     0;
    index[3]    =       3;      4;       3;      0;       0;         90;       75;     60;     0;
    index[4]    =       4;      3;       7;      0;       0;         90;       67;     49;     0;

[AsdSceneTuningEnable]
    AsdAssistTuningFlag = true

[FeatureInSensorZoom]
    SensorName = imx682

[FeatureCustomEisCaliData]
    switchCamEIS50Custom2 = true;

[SttBaseFaceMaskDetectionConfig]
    #          SensorID       EnableFlag
    Mode[0]  =  0x0683;           1   #SttBaseFaceMaskDetectionDisable
    Mode[1]  =  0x20001;          1   #SttBaseFaceMaskDetectionEnable
    Mode[2]  =  0x0848;           0   #SttBaseFaceMaskDetectionDisable
    Mode[3]  =  0x0032;           0   #SttBaseFaceMaskDetectionDisable

[FaceMaskSttFilterConfig]
    #          SensorID       EnableFlag
    Mode[0]  =  0x0683;           1   #FaceMaskSttFilterDisable
    Mode[1]  =  0x20001;          1   #FaceMaskSttFilterEnable
    Mode[2]  =  0x0848;           0   #FaceMaskSttFilterDisable
    Mode[3]  =  0x0032;           0   #FaceMaskSttFilterDisable

[FeatureRemosaic]
    #              IMX471_SENSOR_ID_20615
    SonySensorId = 0x20001;
    HighPicSensorId = 0x20001;
    SfrSensorId = 0x20001;

[FeatureDualCam]
    #       [Id]        =  cam1_img_crop[4]: ofst_x;  ofst_y;  width;  height;     cam2_img_crop[4]: ofst_x;  ofst_y;  width;  height;
    CaliData[0x20000]    =                       24;      20;   4608;    3456;                           -1;      -1;     -1;      -1; #IMX471_SENSOR_ID

[FeaturePdaf]
    #       SensorID   proc1_size;  proc1_offset;  proc2_size;  proc2_offset;
    ProcData[0x0683] =        496;        0x1170;         886;        0x14f0; #IMX682_SENSOR_ID_20615

[FeatureCustomSceneMode]
    #            openid        scene_mode
    Mode[0] =    1;            7;
    Mode[1] =    0;            7;

[MovieFrameConservation]
    SwithMovieFrameConservation = true

[nullValueJudgment]
    SensorId = 0x0683

[FaceMaskDetectParam]
    EnableYRGBYCalFlag = 1
    EnableYRGBGBCalFlag = 1
    EnableYCbCrYCalFlag = 1
    EnableYCbCrCbCrCalFlag = 1
    ColorDiff_Thr = 0.3
    YDiff_Thr = 0.35
    YCbCrYThd = 0.95
    YCbCrCbThd = 0.90
    YCbCrCrThd = 0.90
    UpperArea_AboveEyeRatio = 0.2
    UpperArea_BelowEyeRatio = 0.25
    upperAreaMinBlkNum = 5
    lowerAreaMinBlkNum = 7
    UpperAreaSttMinY = 220
    UpperAreaSttMaxY = 3000
    LowerAreaSttMinY = 10
    LowerAreaSttMaxY = 3900
    FaceMaskExist_CntThr = 5
    FaceMaskLost_CntThr = 10
