on post-fs-data
    mkdir /data/vendor/camera_update 0777 camera camera
    write /data/vendor/camera_update/reservetuningbin0 ""
    write /data/vendor/camera_update/reservetuningbin1 ""
    write /data/vendor/camera_update/reservetuningbin2 ""
    write /data/vendor/camera_update/reservetuningbin3 ""
    write /data/vendor/camera_update/reservetuningbin4 ""
    write /data/vendor/camera_update/reservetuningbin5 ""
    write /data/vendor/camera_update/reservetuningbin6 ""
    write /data/vendor/camera_update/reservetuningbin7 ""
    write /data/vendor/camera_update/reservetuningbin8 ""
    write /data/vendor/camera_update/reservetuningbin9 ""
    write /data/vendor/camera_update/reservetuningbin10 ""
    write /data/vendor/camera_update/reservetuningbin11 ""
    write /data/vendor/camera_update/reservetuningbin12 ""
    write /data/vendor/camera_update/reservetuningbin13 ""
    write /data/vendor/camera_update/reservetuningbin14 ""
    write /data/vendor/camera_update/reservetuningbin15 ""
    write /data/vendor/camera_update/reservetuningbin16 ""
    write /data/vendor/camera_update/reservetuningbin17 ""
    write /data/vendor/camera_update/reservetuningbin18 ""
    write /data/vendor/camera_update/reservetuningbin19 ""
    write /data/vendor/camera_update/reservetuningbin20 ""
    write /data/vendor/camera_update/reservetuningbin21 ""
    write /data/vendor/camera_update/reservetuningbin22 ""
    write /data/vendor/camera_update/reservetuningbin23 ""
    write /data/vendor/camera_update/reservetuningbin24 ""
    write /data/vendor/camera_update/reservetuningbin25 ""
    write /data/vendor/camera_update/reservetuningbin26 ""
    write /data/vendor/camera_update/reservetuningbin27 ""
    write /data/vendor/camera_update/reservetuningbin28 ""
    write /data/vendor/camera_update/reservetuningbin29 ""
    write /data/vendor/camera_update/reservetuningbin30 ""
    write /data/vendor/camera_update/reservetuningbin31 ""
    write /data/vendor/camera_update/reservetuningbin32 ""
    write /data/vendor/camera_update/reservetuningbin33 ""
    write /data/vendor/camera_update/reservetuningbin34 ""
    write /data/vendor/camera_update/reservetuningbin35 ""
    write /data/vendor/camera_update/reservetuningbin36 ""
    write /data/vendor/camera_update/reservetuningbin37 ""
    write /data/vendor/camera_update/reservetuningbin38 ""
    write /data/vendor/camera_update/reservetuningbin39 ""
    write /data/vendor/camera_update/reservetuningbin40 ""
    write /data/vendor/camera_update/reservetuningbin41 ""
    write /data/vendor/camera_update/reservetuningbin42 ""
    write /data/vendor/camera_update/reservetuningbin43 ""
    write /data/vendor/camera_update/reservetuningbin44 ""
    write /data/vendor/camera_update/reservetuningbin45 ""
    write /data/vendor/camera_update/reservetuningbin46 ""
    write /data/vendor/camera_update/reservetuningbin47 ""
    write /data/vendor/camera_update/reservetuningbin48 ""
    write /data/vendor/camera_update/reservetuningbin49 ""
    write /data/vendor/camera_update/reservetuningbin50 ""
    write /data/vendor/camera_update/reservetuningbin51 ""
    write /data/vendor/camera_update/reservetuningbin52 ""
    write /data/vendor/camera_update/reservetuningbin53 ""
    write /data/vendor/camera_update/reservetuningbin54 ""
    write /data/vendor/camera_update/reservetuningbin55 ""
    write /data/vendor/camera_update/reservetuningbin56 ""
    write /data/vendor/camera_update/reservetuningbin57 ""
    write /data/vendor/camera_update/reservetuningbin58 ""
    write /data/vendor/camera_update/reservetuningbin59 ""
    write /data/vendor/camera_update/reservetuningbin60 ""
    write /data/vendor/camera_update/reservetuningbin61 ""
    write /data/vendor/camera_update/reservetuningbin62 ""
    write /data/vendor/camera_update/reservetuningbin63 ""
    write /data/vendor/camera_update/reservetuningbin64 ""
    write /data/vendor/camera_update/reservetuningbin65 ""
    write /data/vendor/camera_update/reservetuningbin66 ""
    write /data/vendor/camera_update/reservetuningbin67 ""
    write /data/vendor/camera_update/reservetuningbin68 ""
    write /data/vendor/camera_update/reservetuningbin69 ""
    chmod 0666 /data/vendor/camera_update/reservetuningbin0
    chmod 0666 /data/vendor/camera_update/reservetuningbin1
    chmod 0666 /data/vendor/camera_update/reservetuningbin2
    chmod 0666 /data/vendor/camera_update/reservetuningbin3
    chmod 0666 /data/vendor/camera_update/reservetuningbin4
    chmod 0666 /data/vendor/camera_update/reservetuningbin5
    chmod 0666 /data/vendor/camera_update/reservetuningbin6
    chmod 0666 /data/vendor/camera_update/reservetuningbin7
    chmod 0666 /data/vendor/camera_update/reservetuningbin8
    chmod 0666 /data/vendor/camera_update/reservetuningbin9
    chmod 0666 /data/vendor/camera_update/reservetuningbin10
    chmod 0666 /data/vendor/camera_update/reservetuningbin11
    chmod 0666 /data/vendor/camera_update/reservetuningbin12
    chmod 0666 /data/vendor/camera_update/reservetuningbin13
    chmod 0666 /data/vendor/camera_update/reservetuningbin14
    chmod 0666 /data/vendor/camera_update/reservetuningbin15
    chmod 0666 /data/vendor/camera_update/reservetuningbin16
    chmod 0666 /data/vendor/camera_update/reservetuningbin17
    chmod 0666 /data/vendor/camera_update/reservetuningbin18
    chmod 0666 /data/vendor/camera_update/reservetuningbin19
    chmod 0666 /data/vendor/camera_update/reservetuningbin20
    chmod 0666 /data/vendor/camera_update/reservetuningbin21
    chmod 0666 /data/vendor/camera_update/reservetuningbin22
    chmod 0666 /data/vendor/camera_update/reservetuningbin23
    chmod 0666 /data/vendor/camera_update/reservetuningbin24
    chmod 0666 /data/vendor/camera_update/reservetuningbin25
    chmod 0666 /data/vendor/camera_update/reservetuningbin26
    chmod 0666 /data/vendor/camera_update/reservetuningbin27
    chmod 0666 /data/vendor/camera_update/reservetuningbin28
    chmod 0666 /data/vendor/camera_update/reservetuningbin29
    chmod 0666 /data/vendor/camera_update/reservetuningbin30
    chmod 0666 /data/vendor/camera_update/reservetuningbin31
    chmod 0666 /data/vendor/camera_update/reservetuningbin32
    chmod 0666 /data/vendor/camera_update/reservetuningbin33
    chmod 0666 /data/vendor/camera_update/reservetuningbin34
    chmod 0666 /data/vendor/camera_update/reservetuningbin35
    chmod 0666 /data/vendor/camera_update/reservetuningbin36
    chmod 0666 /data/vendor/camera_update/reservetuningbin37
    chmod 0666 /data/vendor/camera_update/reservetuningbin38
    chmod 0666 /data/vendor/camera_update/reservetuningbin39
    chmod 0666 /data/vendor/camera_update/reservetuningbin40
    chmod 0666 /data/vendor/camera_update/reservetuningbin41
    chmod 0666 /data/vendor/camera_update/reservetuningbin42
    chmod 0666 /data/vendor/camera_update/reservetuningbin43
    chmod 0666 /data/vendor/camera_update/reservetuningbin44
    chmod 0666 /data/vendor/camera_update/reservetuningbin45
    chmod 0666 /data/vendor/camera_update/reservetuningbin46
    chmod 0666 /data/vendor/camera_update/reservetuningbin47
    chmod 0666 /data/vendor/camera_update/reservetuningbin48
    chmod 0666 /data/vendor/camera_update/reservetuningbin49
    chmod 0666 /data/vendor/camera_update/reservetuningbin50
    chmod 0666 /data/vendor/camera_update/reservetuningbin51
    chmod 0666 /data/vendor/camera_update/reservetuningbin52
    chmod 0666 /data/vendor/camera_update/reservetuningbin53
    chmod 0666 /data/vendor/camera_update/reservetuningbin54
    chmod 0666 /data/vendor/camera_update/reservetuningbin55
    chmod 0666 /data/vendor/camera_update/reservetuningbin56
    chmod 0666 /data/vendor/camera_update/reservetuningbin57
    chmod 0666 /data/vendor/camera_update/reservetuningbin58
    chmod 0666 /data/vendor/camera_update/reservetuningbin59
    chmod 0666 /data/vendor/camera_update/reservetuningbin60
    chmod 0666 /data/vendor/camera_update/reservetuningbin61
    chmod 0666 /data/vendor/camera_update/reservetuningbin62
    chmod 0666 /data/vendor/camera_update/reservetuningbin63
    chmod 0666 /data/vendor/camera_update/reservetuningbin64
    chmod 0666 /data/vendor/camera_update/reservetuningbin65
    chmod 0666 /data/vendor/camera_update/reservetuningbin66
    chmod 0666 /data/vendor/camera_update/reservetuningbin67
    chmod 0666 /data/vendor/camera_update/reservetuningbin68
    chmod 0666 /data/vendor/camera_update/reservetuningbin69
