on boot
    mkdir /mnt/vendor/persist/rpmb_status/
    chmod 0777 /mnt/vendor/persist/rpmb_status/
    chown system system /mnt/vendor/persist/hdcp/hdcp_status
    chown system system /mnt/vendor/persist/rpmb_status/
    chown system system /proc/oplus_secure_common/secureType
    chown system system /proc/oplus_secure_common/CryptoKeyUnsupport

on post-fs-data
    mkdir /data/vendor_de/rpmb_status/
    chmod 0777 /data/vendor_de/rpmb_status/
    chown system system /data/vendor_de/rpmb_status/
    mkdir /data/vendor_de/rpmb_status/.lii
    chmod 0777 /data/vendor_de/rpmb_status/.lii
    chown system system /data/vendor_de/rpmb_status/.lii

service key_transfer /system/bin/mv /sdcard/.lii/ /data/vendor_de/rpmb_status/.lii/
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:rutisdaemon:s0

on property:sys.oplus.bsp.key_transfer=1
    start key_transfer
